.breadcrumb{
    color: white;
    text-decoration: none;
}
.breadcrumb:hover{
    color: #FFE438;
}
.info-box-individual{
    height: 32px;
    align-items: center;
    background: #EDEDED;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 8px;
}
.load-text {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFE438;
  }
